<a href="https://colab.research.google.com/github/ImanJowkar/python_for_AI/blob/main/4-loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Loops

In [1]:
for i in [1,2,3,4]:
    print(i)

1
2
3
4

In [2]:
for i in [1,2,3,4]:
    print(i, end = '\t')

1	2	3	4

In [16]:
for i in range(100):
    print(i**2, end=' ')

0 1 4 9 16 25 36 49 64 81 100 121 144 169 196 225 256 289 324 361 400 441 484 529 576 625 676 729 784 841 900 961 1024 1089 1156 1225 1296 1369 1444 1521 1600 1681 1764 1849 1936 2025 2116 2209 2304 2401 2500 2601 2704 2809 2916 3025 3136 3249 3364 3481 3600 3721 3844 3969 4096 4225 4356 4489 4624 4761 4900 5041 5184 5329 5476 5625 5776 5929 6084 6241 6400 6561 6724 6889 7056 7225 7396 7569 7744 7921 8100 8281 8464 8649 8836 9025 9216 9409 9604 9801

In [5]:
range(5)

range(0, 5)

In [6]:
list(range(5))

[0, 1, 2, 3, 4]

In [7]:
tuple(range(5))

(0, 1, 2, 3, 4)

In [10]:
list(range(1,10,3))

[1, 4, 7]

In [15]:
for s in "This is string":
    print(s, end=" ")

T h i s   i s   s t r i n g

In [12]:
mat = [[1,2,3],
       [4,5,6],
       [7,8,9]]
for i in mat:
    for j in i:
        print(i, j)

[1, 2, 3] 1
[1, 2, 3] 2
[1, 2, 3] 3
[4, 5, 6] 4
[4, 5, 6] 5
[4, 5, 6] 6
[7, 8, 9] 7
[7, 8, 9] 8
[7, 8, 9] 9

In [14]:
for i in range(3):
    for j in range(3):
        mat[i][j] += 1
print(mat)

[[2, 3, 4], [5, 6, 7], [8, 9, 10]]

## one line for

In [20]:
[(i**2) / 2 for i in range(5)]

[0.0, 0.5, 2.0, 4.5, 8.0]

In [21]:
numbers = list(range(10))
numbers2 = [(i**2)/2 for i in numbers]
print(numbers)
print(numbers2)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0.0, 0.5, 2.0, 4.5, 8.0, 12.5, 18.0, 24.5, 32.0, 40.5]

In [22]:
[i for i in range(10) if i % 2 == 0]

[0, 2, 4, 6, 8]

In [24]:
i = 0
while True:
    print("hi")
    if i >= 10:
        break
    i += 1

hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi

# Hop game

In [28]:
for i in range(1,30):
    if i % 5 == 0:
        print("Hop", end=' ')
    else:
        print(i, end=' ')

1 2 3 4 Hop 6 7 8 9 Hop 11 12 13 14 Hop 16 17 18 19 Hop 21 22 23 24 Hop 26 27 28 29

# fibo

In [32]:
num0 = 0
num1 = 1
fibo = []
fibo.extend([num0, num1])
for i in range(1, 30):
    fibo.append(fibo[i] + fibo[i-1])
print(fibo)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946, 17711, 28657, 46368, 75025, 121393, 196418, 317811, 514229, 832040]