<a href="https://colab.research.google.com/github/ImanJowkar/python_for_AI/blob/main/6-tuple-sets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tuple

In [1]:
tup1 = (1,2,23,4)

# Why Tuple
* Tuples are faster than lists

In [2]:
''.join(['a','b','c','d','e','f','g'])

'abcdefg'

In [3]:
!python -m timeit "for i in range(10000):" "     ''.join(['a','b','c','d','e','f','g'])"

50 loops, best of 5: 3.33 msec per loop

In [4]:
!python -m timeit "for i in range(10000):" "     ''.join(('a','b','c','d','e','f','g'))"

100 loops, best of 5: 2.29 msec per loop

* Tuple is immutable

In [5]:
tup1[0] = 5
tup1

TypeError: ignored


* Tuple can be used as key in dictionary

In [7]:
d = {(1,2):3}
d

{(1, 2): 3}

# unpack and loop

In [8]:
a,b,c,d = tup1
print(tup1)
print(a)
print(b)
print(c)
print(d)

(1, 2, 23, 4)
1
2
23
4

In [9]:
a, *b = tup1
print(tup1)
print(a)
print(b)

(1, 2, 23, 4)
1
[2, 23, 4]

In [10]:
*a,b = tup1
print(tup1)
print(a)
print(b)

(1, 2, 23, 4)
[1, 2, 23]
4

In [11]:
tup3 = ((1,2,-1), (5,4,2),(6,4,2))
for *i1, i2 in tup3:
    print(i1, i2)

[1, 2] -1
[5, 4] 2
[6, 4] 2

In [12]:
dict1 = {"sara": 23, "ali":15, "Mahsa":22}
print(dict1.items())
gen = [(name, age) for name, age in dict1.items() if age > 18]
print(gen)

dict_items([('sara', 23), ('ali', 15), ('Mahsa', 22)])
[('sara', 23), ('Mahsa', 22)]

In [13]:
my_tup = (10,4,3,2,3,5,54,4)
my_tup[:3] + my_tup[4:]

(10, 4, 3, 3, 5, 54, 4)

# Sets

In [14]:
set1 = {1,2,3,4,4,4, True}
set2 = {'a','b','b','c'}
print(f'set1: {set1}')
print(f'set2: {set2}')

set1: {1, 2, 3, 4}
set2: {'a', 'b', 'c'}

In [15]:
set2 = set1.copy()
set2

{1, 2, 3, 4}

In [17]:
set2.add(4)
set2

{1, 2, 3, 4}

In [18]:
set3 = {5,'a','b'}
set2.update(set3)
set2

{1, 2, 3, 4, 5, 'a', 'b'}

In [19]:
set2.remove('a')
set2

{1, 2, 3, 4, 5, 'b'}

In [20]:
set2.discard(10)

In [21]:
set1.union(set2)

{1, 2, 3, 4, 5, 'b'}

{1, 2, 3, 4, 'b', 5}