# Python Basics
## By Farzad Minooei

Note: Python is a case-sensitive language.

## Arithmetic Operators

In [1]:
4 + 1

5

Some Useful Keyboard Shortcuts:

Run Cell:	                     Ctrl + enter

Create new cell:                 Esc + a (above), Esc + b (below)

Run Cell and creat new cell:     Ctrl + shift

Copy Cell:	                     c

Paste Cell:	                     v

Save notebook:	                 Esc + s

Auto-completion:                 Tab while writing code

Help:                            Shift + Tab

In [2]:
2 * 2

4

In [3]:
7 / 4

1.75

In [4]:
7 % 4

3

In [5]:
7 // 4

1

In [6]:
10 ** 2

100

In [7]:
#Operator Precedence
1 + 2 * 5 - 5

6

In [8]:
2 ** 3 ** - 1

1.2599210498948732

In [9]:
2 ** (3 ** - 1)

1.2599210498948732

In [10]:
(2 ** 3) ** - 1

0.125

## Comparison Operators

In [11]:
5 == 4

False

In [12]:
5 != 4

True

In [13]:
5 <= 4

False

In [14]:
5 >= 4

True

##  Assignment Operators

In [15]:
a = 5
a

5

*** Rules for writing identifiers in Python:

Identifiers can be a combination of letters in lowercase (a to z) or uppercase (A to Z) or digits (0 to 9) or an underscore _.

An identifier cannot start with a digit.

Keywords words cannot be used as identifiers, such as: False, elif, None, else, nonlocal, lambda, True, except, not, and, finally, or, as, for, pass, assert, from, raise, break, global, return, class, if, try, continue, import, while, def, in, with, del, is, yield.

In [16]:
a += 1
#is equivalent to a = a + 1
a

6

In [17]:
b = 5
b *= b 
#is equivalent to b = b * b
b

25

## Logical Operators

In [18]:
not(True)

False

In [19]:
True and True

True

In [20]:
True and False

False

In [21]:
True or False

True

In [22]:
not(a >= 0 or b < 5)

False

In [23]:
5 < a < 10

True

In [24]:
5 < a and a < 10

True

In [25]:
0 < a > 2

True

## Bitwise Operators

In [26]:
# 60 = 0011 1100 
# 13 = 0000 1101

In [27]:
#Binary AND
# 12 = 0000 1100
60 & 13

12

In [28]:
#Binary OR
# 61 = 0011 1101
60 | 13

61

In [29]:
#Binary XOR
# 49 = 0011 0001
60 ^ 13

49

## Python Standard Data Types

Python has six standard data types:

Numbers

Strings

Lists

Dictionaries

Tuples

Sets

### Numbers

There are two main number types:

Integers

Floating Point Numbers

In [30]:
x1 = 10
type(x1)

int

In [31]:
x2 = 5.0
type(x2)

float

In [32]:
x1 + x2

15.0

In [33]:
0.1 + 0.2 == 0.3

False

In [34]:
print("{0:.20f}".format(0.1))

0.10000000000000000555

Check the link: https://0.30000000000000004.com/

### Strings

Strings are sequenc of characters.

In [35]:
'abcd'

'abcd'

In [36]:
"abcd"

'abcd'

In [37]:
print('abcd')

abcd

In [38]:
len('abcd')

4

In [39]:
string1 = 'Data Science'
string1

'Data Science'

In [40]:
type(string1)

str

In [41]:
string1[0]

'D'

In [42]:
string1[8]

'e'

In [43]:
string1[-3]

'n'

In [44]:
string1[2:8]

'ta Sci'

In [45]:
string1[3:]

'a Science'

In [46]:
string1[:3]

'Dat'

In [47]:
string1[2:8:3]

'tS'

In [48]:
string1[::2]

'Dt cec'

In [49]:
string1[::-2]

'eniSaa'

*** Immutability

An immutable object canâ€™t be changed after it is created.

In [50]:
string2 = 'Sam'
string2

'Sam'

In [51]:
string2[0] = 'P'

TypeError: 'str' object does not support item assignment

In [53]:
#string concatenation
"P" + string2[1:]

'Pam'

In [54]:
string2

'Sam'

In [55]:
string2 = "P" + string2[1:]
string2

'Pam'

In [56]:
string2 * 10

'PamPamPamPamPamPamPamPamPamPam'

In [58]:
string3 = '2' + '3'
string3

'23'

In [59]:
string3 + 5

TypeError: can only concatenate str (not "int") to str

In [60]:
string1.upper()

'DATA SCIENCE'

In [61]:
string1.lower()

'data science'

In [62]:
string1.split()

['Data', 'Science']

In [63]:
string1.split('a')

['D', 't', ' Science']

### Print Formating with Strings

In [64]:
print(string1 + ' {} by {}'.format('Code 2', 'Farzad Minooei'))

Data Science Code 2 by Farzad Minooei

In [65]:
print(string1 + ' {c} by {p}'.format(c = 'Code 2', p = '\"Farzad Minooei\"'))

Data Science Code 2 by "Farzad Minooei"

In [66]:
print(string1 + " {c} by {p} - Year {}".format(c = 'Code 2', p = 'Farzad Minooei', y = 1399))

IndexError: tuple index out of range

In [67]:
print(string1 + " {c} by {p} - Year {y}".format( y = 1399, c = 'Code 2', p = 'Farzad Minooei'))

Data Science Code 2 by Farzad Minooei - Year 1399

In [68]:
res = 145 / 23
res

6.304347826086956

In [69]:
print('The result is {r}'.format(r = res))

The result is 6.304347826086956

In [70]:
print('The result is {r:0.3f}'.format(r = res))

The result is 6.304

In [71]:
print(f'The results is {res:0.3f}')

The results is 6.304

### Lists

Lists are ordered sequences that can hold a variety of object types.

In [72]:
list1 = [1, 2, 3, 4]
list1

[1, 2, 3, 4]

In [73]:
type(list1)

list

In [74]:
len(list1)

4

In [75]:
list2 = ['Data Science', 100, 5.90]
list2

['Data Science', 100, 5.9]

In [76]:
list2[0]

'Data Science'

In [77]:
list2.index('Data Science')

0

In [78]:
list2.count(100)

1

In [79]:
list2[1:]

[100, 5.9]

In [80]:
list3 = list1 + list2
list3

[1, 2, 3, 4, 'Data Science', 100, 5.9]

In [81]:
list3[1] = 0
list3

[1, 0, 3, 4, 'Data Science', 100, 5.9]

In [82]:
list3.append(7.01)
list3

[1, 0, 3, 4, 'Data Science', 100, 5.9, 7.01]

In [83]:
list3.pop()
list3

[1, 0, 3, 4, 'Data Science', 100, 5.9]

In [84]:
list3.pop(1)
list3

[1, 3, 4, 'Data Science', 100, 5.9]

In [85]:
list4 = ['a', 'z', 'd', 'y', 'f']
list5 = [10, 2, 1, 5, 4]

In [86]:
list4.sort()

In [87]:
list4

['a', 'd', 'f', 'y', 'z']

In [88]:
sorted_list5 = list5.sort()
sorted_list5

In [89]:
type(sorted_list5)

NoneType

In [90]:
list5.reverse()

In [91]:
list5

[10, 5, 4, 2, 1]

In [92]:
list6 = [list4, list5]
list6

[['a', 'd', 'f', 'y', 'z'], [10, 5, 4, 2, 1]]

In [93]:
list6[0][2]

'f'

In [94]:
list6[0][3] = 'h'
list6

[['a', 'd', 'f', 'h', 'z'], [10, 5, 4, 2, 1]]

### Dictionaries

Dictionaries are unordered mappings for sorting objects.

In [95]:
d1 = {'k1': 30, 'k2': 40, 'k3': 'a'}
d1

{'k1': 30, 'k2': 40, 'k3': 'a'}

In [96]:
type(d1)

dict

In [97]:
d1['k2']

40

In [98]:
d2 = {'k1': 12.5, 'k2': [0, 1, 2, 3, 4], 'k3': {'k3_1': 'abc', 'k3_2': 'def'}}
d2

{'k1': 12.5, 'k2': [0, 1, 2, 3, 4], 'k3': {'k3_1': 'abc', 'k3_2': 'def'}}

In [99]:
d2['k2']

[0, 1, 2, 3, 4]

In [100]:
d2['k2'][2]

2

In [101]:
d2['k3']['k3_1'][0]

'a'

In [102]:
d2

{'k1': 12.5, 'k2': [0, 1, 2, 3, 4], 'k3': {'k3_1': 'abc', 'k3_2': 'def'}}

In [103]:
d2.keys()

dict_keys(['k1', 'k2', 'k3'])

In [104]:
d2.values()

dict_values([12.5, [0, 1, 2, 3, 4], {'k3_1': 'abc', 'k3_2': 'def'}])

In [105]:
d2.items()

dict_items([('k1', 12.5), ('k2', [0, 1, 2, 3, 4]), ('k3', {'k3_1': 'abc', 'k3_2': 'def'})])

In [106]:
d2['k4'] = 300
d2

{'k1': 12.5,
 'k2': [0, 1, 2, 3, 4],
 'k3': {'k3_1': 'abc', 'k3_2': 'def'},
 'k4': 300}

In [107]:
d2['k3']['k3_1'] = "efg"
d2

{'k1': 12.5,
 'k2': [0, 1, 2, 3, 4],
 'k3': {'k3_1': 'efg', 'k3_2': 'def'},
 'k4': 300}

In [108]:
d2['k2'].reverse()
d2

{'k1': 12.5,
 'k2': [4, 3, 2, 1, 0],
 'k3': {'k3_1': 'efg', 'k3_2': 'def'},
 'k4': 300}

In [109]:
d3 = {}

In [110]:
d3['k1'] = 'abcd'
d3['k2'] = [1, 2, 3 ,4]
d3

{'k1': 'abcd', 'k2': [1, 2, 3, 4]}

In [111]:
d3.clear()
d3

{}

In [112]:
d4 = {'products' : ['p1', 'p2', 'p3'],
       'unit_price' : [10, 20, 25],
       'monthly_demand' : [1000, 500, 150]}
d4

{'products': ['p1', 'p2', 'p3'],
 'unit_price': [10, 20, 25],
 'monthly_demand': [1000, 500, 150]}

### Tuples

Tuples are very similar to lists, however they are immutable.

In [113]:
t1 = (1, 4, 4, 'abc')
t1

(1, 4, 4, 'abc')

In [114]:
type(t1)

tuple

In [115]:
len(t1)

4

In [116]:
t1[0]

1

In [117]:
t1.index('abc')

3

In [118]:
t1.count(4)

2

In [119]:
t1[0] = 0

TypeError: 'tuple' object does not support item assignment

### Sets

Sets are unordered collections of unique elements.

In [120]:
s1 = set()

In [121]:
s1

set()

In [122]:
s1.add(1)

In [123]:
s1

{1}

In [124]:
s1.add(2)

In [125]:
s1

{1, 2}

In [126]:
s1.add(2)

In [127]:
s1

{1, 2}

In [128]:
l1 = [1, 1, 1, 1, 2, 2, 3, 4]
l1

[1, 1, 1, 1, 2, 2, 3, 4]

In [129]:
set(l1)

{1, 2, 3, 4}

In [130]:
s1[0]

TypeError: 'set' object is not subscriptable

## Write and Read a Text File

In [131]:
#Work Directory
pwd

NameError: name 'pwd' is not defined

In [132]:
#Change work directory
import os

os.chdir('C:\\Users\\FarzadM\\Desktop')

In [133]:
pwd

'C:\\Users\\FarzadM\\Desktop'

In [134]:
%%writefile S24.txt
Hello
This is the first line.
This is the second line.
This is the third line.

Writing S24.txt

In [135]:
f1 = open('S24.txt')

In [136]:
f1 = open('C:\\Users\\FarzadM\\Desktop\\S24.txt')

In [137]:
f1.read()

'Hello\nThis is the first line.\nThis is the second line.\nThis is the third line.\n'

In [138]:
f1.read()

''

In [139]:
f1.seek(0)

0

In [140]:
f1.read()

'Hello\nThis is the first line.\nThis is the second line.\nThis is the third line.\n'

In [141]:
f1.seek(0)
f1.readlines()

['Hello\n',
 'This is the first line.\n',
 'This is the second line.\n',
 'This is the third line.\n']

In [142]:
f1.close()

In [143]:
#Appending to file
f1 = open('S24.txt', mode = 'a+')
f1.write('And another line here.')

22

In [144]:
f1.seek(0)
f1.readlines()

['Hello\n',
 'This is the first line.\n',
 'This is the second line.\n',
 'This is the third line.\n',
 'And another line here.']

In [145]:
#Overwriting
f1 = open('S24.txt', mode = 'w+')
f1.write('All lines removed.')

18

In [146]:
f1.seek(0)
f1.readlines()

['All lines removed.']

## If Else Statement

In [147]:
a = 2
if a > 0:
    print('The number is positive')

The number is positive

In [148]:
a = -2
if a > 0:
    print('The number is psoitive')
else:
    print('The number is negative')

The number is negative

In [149]:
a = 0
if a > 0 :
    print('The number is positive')
elif a < 0:
    print('The number is negative')
else:
    print('The number is zero')

The number is zero

## Loops

### For Loops

In [150]:
range(1, 11)

range(1, 11)

In [151]:
l = list(range(1, 11))
l

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [152]:
for i in l:
    print(i ** 2)

1
4
9
16
25
36
49
64
81
100

In [153]:
for i in range(1, 11):
    print(i ** 2)

1
4
9
16
25
36
49
64
81
100

In [154]:
for i in range(10 , 0, -2):
    print(i)

10
8
6
4
2

In [155]:
for _ in range(5):
    print(_)

0
1
2
3
4

In [156]:
t = (10, 20 , 30, 40)
for i in t:
    print(i)

10
20
30
40

In [157]:
d = {'k1':100,'k2':200,'k3':300}
for i in d:
    print(i)

k1
k2
k3

In [158]:
for i in d.values():
    print(i)

100
200
300

In [159]:
str = 'This is a string.'
for i in str:
    print(i)

T
h
i
s

i
s

a

s
t
r
i
n
g
.

In [160]:
l = []
for i in str:
    l.append(i)
l

['T',
 'h',
 'i',
 's',
 ' ',
 'i',
 's',
 ' ',
 'a',
 ' ',
 's',
 't',
 'r',
 'i',
 'n',
 'g',
 '.']

In [161]:
l = [_ for _ in str]
l

['T',
 'h',
 'i',
 's',
 ' ',
 'i',
 's',
 ' ',
 'a',
 ' ',
 's',
 't',
 'r',
 'i',
 'n',
 'g',
 '.']

In [162]:
#List of odd numbers between 1 and 20
l = [_ for _ in range(1, 21) if _ % 2 == 0]
l

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [163]:
#Celsius to Fahrenheit
celcius = [0, 5, 15, 30]
fahrenheit = [(_ * 9/5) + 32 for _ in celcius]
fahrenheit

[32.0, 41.0, 59.0, 86.0]

In [164]:
#Nested for
#10 * 10 multiplication table
#Create an empty nested list
table = [[None for _ in range(10)] for _ in range(10)]
table

[[None, None, None, None, None, None, None, None, None, None],
 [None, None, None, None, None, None, None, None, None, None],
 [None, None, None, None, None, None, None, None, None, None],
 [None, None, None, None, None, None, None, None, None, None],
 [None, None, None, None, None, None, None, None, None, None],
 [None, None, None, None, None, None, None, None, None, None],
 [None, None, None, None, None, None, None, None, None, None],
 [None, None, None, None, None, None, None, None, None, None],
 [None, None, None, None, None, None, None, None, None, None],
 [None, None, None, None, None, None, None, None, None, None]]

In [165]:
for i in range(len(table)):
    for j in range(len(table)):
        table[i][j] = (i + 1) * (j + 1) 
        
table

[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
 [2, 4, 6, 8, 10, 12, 14, 16, 18, 20],
 [3, 6, 9, 12, 15, 18, 21, 24, 27, 30],
 [4, 8, 12, 16, 20, 24, 28, 32, 36, 40],
 [5, 10, 15, 20, 25, 30, 35, 40, 45, 50],
 [6, 12, 18, 24, 30, 36, 42, 48, 54, 60],
 [7, 14, 21, 28, 35, 42, 49, 56, 63, 70],
 [8, 16, 24, 32, 40, 48, 56, 64, 72, 80],
 [9, 18, 27, 36, 45, 54, 63, 72, 81, 90],
 [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]]

### While Loops

In [166]:
c = 1
while c <= 10:
    print(c ** 2)
    c += 1

1
4
9
16
25
36
49
64
81
100

In [167]:
#random sampling 
import random as rm
rm.sample(['T', 'F'], 1)

['F']

In [168]:
#while in simulation
flips = 0
nheads = 0
while nheads < 3:
    flips += 1    
    if rm.sample(['T', 'F'], 1)[0] == 'T':
        nheads += 1

flips

8

## Basic Math Functions

In [169]:
#Import math library
import math

In [170]:
math.pi

3.141592653589793

In [171]:
math.e

2.718281828459045

In [172]:
math.sin(0)

0.0

In [173]:
x = -5.12379

In [174]:
math.floor(x)

-6

In [175]:
math.ceil(x)

-5

In [176]:
math.fabs(x)

5.12379

In [177]:
math.sqrt(abs(x))

2.263579024465459

In [178]:
math.log(abs(x))

1.6338943995880795

## Basic Stat Functions

In [179]:
#Import statistics library
import statistics as stat

In [180]:
l = [12.1, 21.0, 13.4, 25.7, 30.1, 12.1, 12.1]

In [181]:
sum(l)

126.5

In [182]:
stat.mean(l)

18.071428571428573

In [183]:
stat.median(l)

13.4

In [184]:
stat.mode(l)

12.1

In [185]:
stat.stdev(l)

7.530540991127239

In [186]:
stat.variance(l)

56.709047619047624

## Methods and Functions

### Methods

In [187]:
l

[12.1, 21.0, 13.4, 25.7, 30.1, 12.1, 12.1]

In [188]:
#Use tab to find methods applicable to an object
l.append(14.3)

In [189]:
l

[12.1, 21.0, 13.4, 25.7, 30.1, 12.1, 12.1, 14.3]

In [190]:
help(l.append)

Help on built-in function append:

append(object, /) method of builtins.list instance
    Append object to the end of the list.

Check Python documentation:
https://docs.python.org/3/

## Functions

Create function

Example: PV = FV/(1+r) ^ n

In [191]:
def pv1(fv, r, n):
    pv = fv / (1 + r) ** n
    return(pv)

In [192]:
pv1(10000, 0.25, 5)

3276.8

In [193]:
type(pv1)

function

In [194]:
pv1(fv = 10000, r = 0.25, n = 5)

3276.8

In [195]:
pv1(n = 5, r = 0.25, fv = 10000)

3276.8

In [196]:
pv1(10000, 0.25)

TypeError: pv1() missing 1 required positional argument: 'n'

In [197]:
#Arguments w/ default values
#Any number of arguments in a function can have a default value. 
#But once we have a default argument, all the arguments to its right must also have default values.
def pv2(fv, r = 0.25, n):
    pv = fv / (1 + r) ** n
    return(pv)

SyntaxError: non-default argument follows default argument (<ipython-input-197-ba8f2ef0ebbb>, line 4)

In [198]:
def pv2(fv, n, r = 0.25):
    pv = fv / (1 + r) ** n
    return(pv)

pv2(10000, 5)

3276.8

### Global and Local Variables

In [199]:
#local variables
n

NameError: name 'n' is not defined

In [200]:
def pv3(fv, r = 0.25):
    n = 5
    pv = fv / (1 + r) ** n
    return(pv)
pv3(10000)

3276.8

In [201]:
n = 5
def pv4(fv, r = 0.25):
    pv = fv / (1 + r) ** n
    return(pv)
pv4(10000)

3276.8

In [202]:
#We can only access the global variable but cannot modify it from inside the function.
n = 5
def pv4(fv, r = 0.25):
    n = n + 2
    pv = fv / (1 + r) ** n
    return(pv)
pv4(10000)

UnboundLocalError: local variable 'n' referenced before assignment

In [203]:
n = 5
def pv4(fv, r = 0.25):
    global n
    n = n + 2
    pv = fv / (1 + r) ** n
    return(pv)
pv4(10000)

2097.152

In [204]:
n

7

### Function with Multiple Outputs

In [205]:
def pv5(fv, r, n):
    pv = fv / (1 + r) ** n
    rls = 10 * pv
    return(pv, rls)
pv5(10000, 0.25, 5)

(3276.8, 32768.0)

In [206]:
fv = [1000, 10000, 100000]
r = [0.25] * 3
n = [5] * 3
list(map(pv5, l, r, n))

[(3.964928, 39.64928), (6.88128, 68.81280000000001), (4.390912, 43.90912)]

### Arbitrary Arguments

In [207]:
#When a function parameter starts with an asterisk, it allows for an *arbitrary number* of arguments, 
# and the function takes them in as a tuple of values.
def avefunc(*args):
    return sum(args) / len(args)

In [208]:
avefunc(1, 10, 5)

5.333333333333333

In [209]:
avefunc(1, 10, 5, 7, 12)

7.0


### Newton-Raphson Method - Example

https://en.wikipedia.org/wiki/Newton%27s_method

Solve f(x) = 0

f(x) = 4 * ln(x) - x

In [210]:
#Define function
import math

def f(x):
    return(4 * math.log(x) - x)
    
def g(x):
    return(4 / x - 1)

In [211]:
#Initial value
x0 = 0.5

In [212]:
all_x = [x0]

In [213]:
c = 1
while c > 0.0001:
    x1 = x0 - f(x0) / g(x0)
    all_x.append(x1)
    x0 = x1
    c = math.fabs(all_x[len(all_x) - 2] - all_x[len(all_x) - 1])

In [214]:
all_x

[0.5,
 0.967512674605683,
 1.3183454639828363,
 1.4229788501445464,
 1.4295879035094685,
 1.429611824414113]

In [215]:
f(all_x[len(all_x) - 1])

-5.599620767071656e-10

### Lambda Functions

In [216]:
l = [5, 10, 15, 20, 25]
l

[5, 10, 15, 20, 25]

In [217]:
list(map(lambda _: _** 2, l))

[25, 100, 225, 400, 625]

In [218]:
list(filter(lambda _: _ % 2 == 0, l))

[10, 20]

## Save Your Notebook

Save as .html, .py, and .ipynb.

## Assignment

Q1 - Reverse the string 'Data Science' using slicing.

Q2 - Build this list [0,0,0] two separate ways.

Q3 - Using keys and indexing, grab the 'hello' from the following dictionaries:

     d = {'k1':{'k2':'hello'}}
     
     d = {'k1':[{'nest_key':['this is deep',['hello']]}]}
     
     d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}

Q4 - Simulate the coin tossing example discussed in the class for 1000 times. 
     Report the mean and sd of # of flips.

Q5 - Create a function that can solve any quadratic equation using Newton-Raphson method.

Q6 - Generate the numbers of the Fibonacci sequence that are less than 10,000,000.
     https://en.wikipedia.org/wiki/Fibonacci_number

Q7 - Write a code to find if a positive integer is prime or not.

## End of Code